<footer class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018-2020 <a href="https://ekskulconnect.com">ConnectN3TS</a>.</strong> All rights reserved.
</footer>