<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Poin | Dashboard</title>
        <% include ../partials/head %>
    </head>

    <body class="hold-transition sidebar-mini">
    <div class="wrapper">
    <header>
        <% include ../partials/header %>
    </header>

    <sidebar>
        <% include ../partials/sidebar %>
    </sidebar>

    <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Home</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
        
            <!-- Main content -->
            <div class="content">
              <div class="container-fluid">
                <div class="row">
                  <!-- /.col-md-6 -->
                  <div class="col-lg-4">
                      <div class="card">
                          <div class="card card-widget widget-user">
                              <!-- Add the bg color to the header using any of the bg-* classes -->
                              <div class="widget-user-header bg-info">
                                <h3 class="widget-user-username"><%= profile["displayName"] %></h3>
                              </div>
                              <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="<%= profile.photos[0].value %>" alt="User Avatar">
                              </div>
                              <div class="card-footer">
                                <div class="row">
                                  <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                      <span class="description-text">MATA PELAJARAN</span>
                                      <h5 class="description-header">TIK</h5>
                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-sm-6">
                                    <div class="description-block">
                                      <span class="description-text">STATUS</span>
                                      <h5 class="description-header">
                                        <% if (level) { %>
                                          <% if (level == 1) { %>
                                            Guru
                                          <% } %>
                                          <% if (level == 2) { %>
                                            Admin
                                          <% } %>
                                        <% } %>
                                      </h5>
                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->
                                </div>
                                <!-- /.row -->
                              </div>
                            </div>
                          <!-- /.box-body -->
                        </div>
                      </div>

                      <div class="col-lg-8">
                          <div class="card">
                            <div class="card-header">
                              <h5 class="m-0">Guru</h5>
                            </div>
                            <div class="card-body">
                              <h6 class="card-title">Piket</h6>
              
                              <p class="card-text">Sistem pelanggaran dan management izin E-Poin</p>
                              <a href="#" class="btn btn-primary text-center">Piket</a>
                            </div>
                          </div>
              
                          <div class="card card-primary card-outline">
                            <div class="card-header">
                              <h5 class="m-0">Admin</h5>
                            </div>
                            <div class="card-body">
                              <h6 class="card-title">Administration and Maintenance</h6>
              
                              <p class="card-text">Fungsi-fungsi management untuk administrator.</p>
                              <a href="/add-guru" class="btn btn-primary m-1">User Management</a>
                              <a href="#" class="btn btn-primary m-1">Student Management</a>
                              <a href="#" class="btn btn-primary m-1">Tambah Pelanggaran</a>
                            </div>
                          </div>
                      </div>
  
                      
  
                      
                    </div>
                  <!-- /.col-md-6 -->
                </div>
                
                <!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
            <footer>
                <% include ../partials/footer %>
            </footer>
            <!-- /.content -->
    </div>

    <control-sidebar>
        <% include ../partials/control-sidebar %>
    </control-sidebar>

    
          <!-- /.content-wrapper -->
        
    </div>
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>   
    </body>


</html>