<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Poin | Data Siswa</title>
        <% include ../../partials/head %>
    </head>

    <body class="hold-transition sidebar-mini">
    <div class="wrapper">
    <header>
        <% include ../../partials/header %>
    </header>

    <sidebar>
        <% include ../../partials/sidebar %>
    </sidebar>

    <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">  
                    <h1 class="m-0 text-dark">Data Siswa</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Admin</a></li>
                      <li class="breadcrumb-item active">Data Siswa</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
        
            <!-- Main content -->
            <div class="content">
              <div class="container-fluid">
                <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">List Data Siswa</h3>
                      <button type="button" class="btn btn-sm btn-success float-right" data-toggle="modal" data-target="#modal-add"><i class="fas fa-plus"></i></button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="student-table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                        <tr role="row">
                          <th class="sorting_asc" tabindex="0" width="4%" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="User ID: activate to sort column descending">No</th>
                          <th class="sorting" width="25%" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="NIS: activate to sort column ascending">NIS</th>
                          <th class="sorting" width="40%" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Nama: activate to sort column ascending">Nama</th>
                          <th class="sorting" tabindex="15%" aria-controls="example2" rowspan="1" colspan="1" aria-label="Kelas">Kelas</th>
                          <th class="sorting" width="10%" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Status">Status</th>
                          <th class="sorting" width="5%" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Status">Edit</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        </tbody>
                        
                      </table></div></div></div></div></div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>
                


                <div class="modal fade" id="modal-add" style="display: none;" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Add Data Siswa</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="m-4 pb-4">
                            <form role="form" enctype="multipart/form-data" method="post" id="add-siswa" action="/post/add-siswa">
                              <div class="form-group">
                                  <label for="nama">Nama</label>
                                  <input type="text" class="form-control" id="form-input-nama" placeholder="Nama Siswa" name="nama">
                              </div>

                              <div class="form-group">
                                  <label for="nis">NIS</label>
                                  <input type="text" class="form-control" id="form-input-nis" placeholder="NIS" name="nis">
                              </div>

                              <div class="form-group">
                                  <label for="thnmasuk">Tahun Masuk</label>
                                  <input type="date" class="form-control" id="form-input-thnmasuk" name="thnmasuk">
                              </div>
                              
                              <div class="form-group">
                                  <label for="kelas">Kelas</label>
                                  <select name="kelas" id="kelas-dropdown" class="form-control"></select>
                              </div>

                              <div class="form-group">
                                  <label for="telpon">No. Telpon</label>
                                  <input type="text" class="form-control" id="form-input-telpon" placeholder="Nomor Telepon Siswa" name="telpon">
                              </div>

                              <div class="form-group">
                                  <label for="email">Email</label>
                                  <input type="text" class="form-control" id="form-input-email" placeholder="Email" name="email">
                              </div>

                              <input type="submit" class="float-right btn btn-primary" value="Submit" />
                                  <!-- /.card-body -->
                            </form>    
                          </div>
                      </div>
                      
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>

                <div class="modal fade" id="modal-edit" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Edit Data Siswa</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="m-4 pb-4">
                              <form role="form" enctype="multipart/form-data" method="post" id="edit-siswa" action="/post/edit-siswa">
                                <div class="form-group">
                                    <label for="nama">Nama</label>
                                    <input type="text" class="form-control" id="form-edit-nama" placeholder="Nama Siswa" name="nama">
                                </div>
  
                                <div class="form-group">
                                    <label for="nis">NIS</label>
                                    <input type="text" class="form-control" id="form-edit-nis" placeholder="NIS" name="nis">
                                </div>

                                <div class="form-group">
                                    <label for="kelas">Kelas</label>
                                    <select name="kelas" id="kelas-edit" class="form-control"></select>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="form-edit-email" placeholder="Email" name="email">
                                </div>
  
                                <div class="form-group">
                                    <label for="telpon">No. Telpon</label>
                                    <input type="text" class="form-control" id="form-edit-telpon" placeholder="Nomor Telepon Siswa" name="telpon">
                                </div>

                                
  
                                
  
                                <input type="submit" class="float-right btn btn-primary" value="Submit" />
                                    <!-- /.card-body -->
                              </form>    
                            </div>
                        </div>
                        
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>

                <!-- /.row -->
              </div><!-- /.container-fluid -->
              <footer>
                  <% include ../../partials/footer %>
              </footer>
            </div>
            
            <!-- /.content -->
    </div>

    <control-sidebar>
        <% include ../../partials/control-sidebar %>
    </control-sidebar>

    
          <!-- /.content-wrapper -->
        
    </div>
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>   
    <script>
    function refreshtable() {
        $.ajax({
            url: '/post/student-table',
            method: 'GET',
            success: function(response) {
              $("#student-table .tbody").empty();
              for(let i=0; i < response.length; i++) {
                var newRow = $("<tr role='row'>");
                var cols = "";
                var id = "";
                var nama = "";
                var email = "";
                var level = "";
                var status;
                if(response[i].status == 1) {
                    status = "<td class='text-success'>Aktif</td>"
                }
                else {
                    status = "<td class='text-danger'>Tidak Aktif</td>"
                }
                cols += '<td>' + (i + 1) + '</td>'
                cols += '<td class="nis">' + response[i].nis + '</td>'
                cols += '<td>' + response[i].nama + '</td>'
                cols += '<td>' + response[i].nama_kelas + '</td>'
                cols += status
                cols += '<td>' + '<button type="button" class="editrow btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>' +'</td>'
                cols += '</tr>'
                newRow.append(cols);
                $("#student-table .tbody").append(newRow);
              }
              for(let i=0; i < response.length; i++) {
                var name = response[i].nama;
                var nameopt = ""
                nameopt += '<option value="' + name + '">' + name+ '</option>'
                $("#name-dropdown").append(nameopt);
              }
              console.log(response)
            }
        });
      }
    
    function refreshkelas() {
      $.ajax({
          url: '/post/list-kelas',
          method: 'GET',
          success: function(response) {
            for(let i=0; i < response.length; i++) {
                var kelas = response[i].nama_kelas;
                var id_kelas = response[i].id_kelas;
                var kelasopt = ""
                kelasopt += '<option value="' + id_kelas + '">' + kelas + '</option>'
                $("#kelas-dropdown").append(kelasopt);
            }
          }
      })
    }

    async function kelasedit() {
      $.ajax({
          url: '/post/list-kelas',
          method: 'GET',
          success: function(response) {
            $("#kelas-edit").find('option').remove().end()
            for(let i=0; i < response.length; i++) {
                var kelas = response[i].nama_kelas;
                var id_kelas = response[i].id_kelas;
                var kelasopt = ""
                kelasopt += '<option value="' + id_kelas + '">' + kelas + '</option>'
                $("#kelas-edit").append(kelasopt);
            }
          }
      })
    }

      $(document).ready(function() {     
        refreshtable()
        refreshkelas()
        kelasedit()

        $(document).on("click", ".editrow", function() {
          var row = $(this).closest("tr"),
              tds = row.find("td"),
              data = [];

              if (tds.length > 0) {
                tds.each(function() { data.push($(this).text()); });
                tds.push(data);
              }
              console.log(data)
              var userid = data[1];
              var nama;
              var nis
              var telpon
              var status
              var kelas = data[3]
              var email

              $.ajax({
                url: '/post/siswa-data',
                type: 'POST',
                data: {
                  id: userid
                }, beforeSend: function() {
                },
                success: function(response) {
                  nama = response[0]['nama'];
                  nis = response[0]['nis'];
                  telpon = response[0]['telpon'];
                  status = response[0]['status'];
                  kelas = response[0]['kelas'];
                  email = response[0]['email'];
                  
                  $("#form-edit-nama").val(nama);
                  $("#form-edit-nis").val(nis);
                  $("#form-edit-telpon").val(telpon);
                  $("#form-edit-email").val(email);
                  $("#kelas-edit").val(kelas);
                  $("#modal-edit").modal('toggle');                                 
                }
              })



        })
      })

      $(function(){
        $("#add-siswa").submit(function(e) {
          e.preventDefault();
          var post_url = $(this).attr("action");
          var request_method = $(this).attr("method");
          var form_data = $(this).serialize();
          $.ajax({
              url: post_url,
              type: request_method,
              data: form_data,
              beforeSend: function() {
                $("#modal-add").modal('toggle');
                $("#add-siswa").children('input').val('');
              },
              success: function() {
                refreshtable();
                refreshkelas();
                alert("Tambah siswa berhasil!")
              }

          })


          
        })
      })

      
    </script>

    </body>


</html>